# Dependencies
node_modules/


# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc

# Temp test files
_playwright_test.js
_deep_test.js

tempalte/*